# Auto detect text files and perform LF normalization
* text=auto

# Declare text files to normalize to native line endings on checkout 
*.m	 text
*.py     text
*.r      text
*.csv    text
*.yaml   text
*.txt    text

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
